.container {
  padding-bottom: 24rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-image: url('../../images/profile_picture.jpeg');
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-position: center;
  /* opacity: 0.8 !important; */
  font-family: 'Noto Sans', sans-serif;
  /* color:white; */
  align-items: center;
  justify-content: center;
}
