.App {
  text-align: center;
}

.pro-img {
  max-width: 100%;
  height: auto;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link-div {
  align-items: center;
  margin-bottom: 6vh;

}
.link-div a {
  font-size: 120%;
  font-weight: bolder;
  text-decoration: none;
  margin : auto 3vw;
  /* color : rgb(135, 206, 235); */
  color : black;
  /* padding : 1vh auto; */
  border-bottom: 3px solid rgb(149, 225, 255);
}
.link-div a:hover {
  /* color : rgba(0, 0, 0, 0.5); */
  opacity: 0.5;
  border-bottom: 0px;
}
.link-div a.is-active {
  font-size: 130%;
  /* opacity: 0.5; */
  border-bottom: 0px;
}